html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /*width: 900; /* 画面の幅いっぱいにコンテンツを広げる */
    /*height: 600; /* 画面の高さ*/
    /*overflow: hidden; /* 画面スクロールを無効にする */
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
